<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<ul class="nav">
				<li class="nav-item">
					<a class="nav-link active" routerLink="/login">Admin</a>
				</li>
			</ul>
			<div class="row">
				<div class="col-md-4 offset-md-2">
					<div class="d-flex justify-content-center">
						<h3>
						Murray
					</h3>
					</div>
					<div class="card" *ngFor="let queue of murrayQueue">
						<h5 class="card-header">
							{{queue._id}}
						</h5>
						<div class="card-body">
							<p class="card-text">
								Check-In Time: {{queue.create_date}}
							</p>
						</div>
					</div>
				</div>


				<div class="col-md-4">
						<div class="d-flex justify-content-center">
					<h3>
						Hanes Art Center
					</h3>
					</div>
          <div class="card" *ngFor="let queue of hanesQueue">
						<h5 class="card-header">
							{{queue._id}}
						</h5>
						<div class="card-body">
							<p class="card-text">
									Check-In Time: {{queue.create_date}}
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
