<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row row-center">
				<div class="col-md-4">
					<div class="d-flex justify-content-center">
						<h1 class="text-center">
							Murray
						</h1>

					</div>
					<br>
					<div *ngIf="murrayQueue.length == 0; else elseBlockMur">
						<div class="card"  [ngStyle]="{'background-color': '#DDDDDE'}">
								<h2 class="card-header text-center text-white"  [ngStyle]="{'background-color': '#58595b'}">
									Queue Is Empty
									</h2>
						</div>
						</div>
						<ng-template #elseBlockMur>
					<div cdkDropList #onMurray="cdkDropList" [cdkDropListData]="murrayQueue" [cdkDropListConnectedTo]="[waitMurray]" class="example-list" (cdkDropListDropped)="drop($event)">

						<div class="card" [ngStyle]="{'background-color': !queueMurray.in_queue? '#DDDDDE' : '#7CAFD4'}" style="width: 85%" *ngFor="let queueMurray of murrayQueue " cdkDrag>
							<div class="float-right">
								<button type="button" (click)="removeFromQueue(queueMurray)" class="close" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<h2 class="card-header text-center text-white"  [ngStyle]="{'background-color': !queueMurray.in_queue? '#58595b' : '#1D3E55'}">
								{{queueMurray.name}}
							</h2>
							<div class="card-body">

									<div *ngIf="!queueMurray.in_queue; else elseBlock">
									<div class="float-left">
									<button type="button" (click)="queueUpOrDown(queueMurray)" class="btn btn-primary">
										Start Lasercut
									</button>
									</div>
									<h3 class="card-text text-center">
										Check-In Time: {{queueMurray.create_date}}
									</h3>
									</div>
									<ng-template #elseBlock>
										<div class="float-left">
										<button type="button" (click)="queueUpOrDown(queueMurray)" class="btn btn-light">
											Cancel Lasercut
										</button>
										</div>
										<h3 class="card-text text-center">User Has Until: {{queueMurray.timeLeft}}</h3>
									</ng-template>

							</div>
						</div>
					</div>
					</ng-template>
				</div>
				<div class="col-md-4">
					<div class="container">
						<div class="col-md-10">
							<div >
							<form [formGroup]="lasercutterForm" layout-align="center center" class="card text-center justify-content-center" (ngSubmit)="onSubmit()">
								<h2 class="card-header  text-center">
									Add Patron To Queue
									</h2>
								<div class="form-group card-body text-center justify-content-center">

									<input type="text" formControlName="name" placeholder="Name"  class="form-control form-control-lg" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
									<div *ngIf="submitted && f.name.errors" class="invalid-feedback">
										<div *ngIf="f.name.errors.required">Name is required</div>
									</div>
								</div>
								<div class="form-group card-body text-center justify-content-center">
									<select class="form-control form-control-lg"  formControlName="location">
										<option value="" selected disabled>Location</option>
  									<option>Murray</option>
										<option>Hanes Art Center</option>
									</select>
								</div>
								<div class="form-group">
									<button [disabled]="loading" class="btn btn-primary">Add Patron</button>
								</div>
							</form>
							</div>
							</div>
							</div>

				</div>

				<div class="col-md-4">
					<div class="d-flex justify-content-center">
						<h1 class="text-center">
							Hanes Art Center
						</h1>
					</div>
					<br>
					<div *ngIf="hanesQueue.length == 0; else elseBlockHan">
						<div class="card"  [ngStyle]="{'background-color': '#DDDDDE'}">
								<h2 class="card-header text-center text-white"  [ngStyle]="{'background-color': '#58595b'}">
									Queue Is Empty
									</h2>
						</div>
						</div>
						<ng-template #elseBlockHan>
					<div cdkDropList #onhanes="cdkDropList" [cdkDropListData]="hanesQueue" [cdkDropListConnectedTo]="[waitHanes]" class="example-list" (cdkDropListDropped)="drop($event)">
						<div class="card" [ngStyle]="{'background-color': !queueHanes.in_queue? '#DDDDDE' : '#7CAFD4'}" style="width: 85%" *ngFor="let queueHanes of hanesQueue " cdkDrag>
							<div class="float-right">
								<button type="button" (click)="removeFromQueue(queueHanes)" class="close" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<h2 class="card-header text-center text-white"  [ngStyle]="{'background-color': !queueHanes.in_queue? '#58595b' : '#1D3E55'}">
								{{queueHanes.name}}
							</h2>
							<div class="card-body">

									<div *ngIf="!queueHanes.in_queue; else elseBlock">
									<div class="float-left">
									<button type="button" (click)="queueUpOrDown(queueHanes)" class="btn btn-primary">
										Start Lasercut
									</button>
									</div>
									<h3 class="card-text text-center">
										Check-In Time: {{queueHanes.create_date}}
									</h3>
									</div>
									<ng-template #elseBlock>
										<div class="float-left">
										<button type="button" (click)="queueUpOrDown(queueHanes)" class="btn btn-light">
											Cancel Lasercut
										</button>
										</div>
										<h3 class="card-text text-center">User Has Until: {{queueHanes.timeLeft}}</h3>
									</ng-template>

							</div>
						</div>
					</div>
					</ng-template>
				</div>
			</div>
		</div>
	</div>
	<br>
	<br>
	<br>

</div>
