<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
      <nav class="navbar navbar-light" style="background-color: #1d3e55;">
			<ul class="nav mr-auto">
				<li class="menu">
					<a class="menu-button" href="http://beam.unc.edu/">BeAM Home</a>
				</li>
				<li class="menu">
					<a class="menu-button" routerLink="/login">Admin</a>
				</li>
			</ul>
      </nav>
			<div class="page-header">
				<h1>
					Lasercutter Queue
				</h1>
        <h1>
        <small>Live Queue For Hanes and Murray Lasercutters - Refreshes In Real-Time</small>
        </h1>
			</div>
		</div>
	</div>
</div>
<router-outlet></router-outlet>
